.header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content:space-around;
  
}

.nav-link {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-transform:uppercase
}

.nav-link:hover,
.nav-link:focus {
  color: #eeeb27;
}
    .link-back {
      position: relative;
      display: inline-block;
      font-weight: 500;
      font-size: 18px;
      color: #eeeb27;
      background-color: #000;
      transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background 350ms cubic-bezier(0.4, 0, 0.2, 1);
      border-radius: 0;
      margin-left: 40px;
      padding-right: 10px;
    }
  
    .link-back::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 20px solid #000;
      transition: border-right-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .link-back:hover,
    .link-back:focus {
      background-color: #eeeb27;
      color: black;
    }
  
    .link-back:hover::before,
    .link-back:focus::before {
      border-right-color:#eeeb27;
    }
/* ====================== */
.main-conteiner{
  display: flex;
  flex-direction: column-reverse;
}
.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 50px;
}
.main-section h1 {
  font-size: 40px;
}
/* ============================= */
